@import './base.css';

header {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: cadetblue;
}
main {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: azure;
}
